<html>
<head>
	<title> List of all relevant restaurants</title>

	 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
	 <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
	 <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyALEtHCebJoOjEjyZmZVr_cUaPIvnu60M8"></script>

</head>
<body>

		<h2> These restaurants match your search </h2>

<!-- #hier ist die Leaflet-Landkarte: -->

			<div id="map">
				<!-- #initialize the map and set its view to our chosen geographical coordinates and a zoom level -->
						
						<script>

						// #erstellt die landkarte für eine gegeben (1.argument in der klammer)latitude und (2.argument)longitude sowie zoom-faktor
						var map = L.map('map').setView([40.9378777, -72.3009158], 12);

						// #fügt die tile layer hinzu
								L.tileLayer('http://{s}.tile.cloudmade.com/6f0513128f874549b7128f69db6d0e95/997/256/{z}/{x}/{y}.png', {
						    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
						    maxZoom: 18
								}).addTo(map);


								var businesses = <%= @businesses.to_json.html_safe %> ;
						// // #das gibt uns alle der suche entsprechenden business (als array)
						// // var data = <%= @data.to_json.html_safe %>;

						for (var i=0 ; i < businesses.length; i++) {


							var marker = L.marker(businesses[i].coordinates).addTo(map);


						// 		// <% @response["businesses"].each do |restaurant| %>

							marker.bindPopup("<b>" + businesses[i].name + "</b> <br>" + businesses[i].city).openPopup();
						};

						</script>

			</div>


<!-- #hier beginnt die Liste der relevanten Restaurants -->

				<% @response["businesses"].each do |restaurant| %>

						<p> 
							<img src="<%= restaurant["image_url"] %>">
							<%= restaurant["name"] %> 
							<%= restaurant["location"]["city"] %>
							<%= restaurant["categories"] %>
							<a href="restaurants/<%= restaurant["id"] %>"> More details </a>
						</p>
										<br>
										<br>
										<br>

					<% end %>

</body>
</html>


